<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <p>{{remind}}</p>
    <div class="container-fluid">
        <div class="row">
            <form enctype="multipart/form-data" action="upload/" method="POST">
                {% csrf_token %}
                <input type="file" name="myfile"/>
                <input type="submit" value="upload"/>
            </form>
        </div>

    </div>
    <div class="untranslated-body">
        {%  for file in untranslated_files %}
            <form method="post" action="translate/">
                {% csrf_token %}
                <input type="text" style="visibility: hidden;width: 0px" name="filename" value="{{ file }}" />
                {{file}}
                <input type="submit" value="翻译">
            </form>
        {% endfor %}
    </div>
    <div class="result-body">
        {%  for file in result_files %}
            <form method="post" action="download/">
                {% csrf_token %}
                <input type="text" style="visibility: hidden;width: 0px" name="filename" value="{{ file }}" />
                {{ file }}
                <input type="submit" value="下载">
            </form>
        {% endfor %}
    </div>
    <div class="translating-body">
        {%  for k,v in translating_files.items %}
            {% csrf_token %}
            {{ k }}
            <progress value='{{ v }}' max='100'></progress>
        {% endfor %}
    </div>
</body>
</html>