<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <style type="text/css">
    </style>
</head>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script>
$(document).ready(function(){
    setInterval(function(){
        var progresses = document.getElementsByTagName('progress');
        var downloads = document.getElementsByClassName('download');
        var username = "{{ username }}";
        var files = [];
        for(var i=0;i<progresses.length;i++){
            files[i] = progresses[i].id;
        }
        $.ajax({
            type: "POST",
            url: "/main/test/",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}',username:username,files:files.join(".$#$#$.")},
            success: function(msg){
                var new_progresses = msg.split(',');
                for(var i=0;i<progresses.length;i++){
                    progresses[i].value=new_progresses[i];
                    if(progresses[i].value==100){
                        downloads[i].style.visibility="visible";
                    }
                    else{
                        downloads[i].style.visibility="hidden";
                    }
                }
            }
        });
    },1000);
});
</script>

<body style="background:silver;padding:0px;margin: 0px;">
    <div class="head" style="padding-left: 30px;padding-top: 20px;padding-bottom:20px;background: darkgray">
        <span style="font-size:30px;">{{ username }}</span>
        <form enctype="multipart/form-data" method="post" action="upload/" style="float: right;margin-right: 73%;">
            {% csrf_token %}
            <div>
                <input type="file" name="myfile" value="文件"/>
            </div>
            <input type="submit" value="上传" style="width:69.7px"/>
        </form>
    </div>
    <div>
        <div style="padding-left: 20px;padding-top: 50px;">
            <form method="post" action="change_time/">
                {% csrf_token %}
                <input type="date" name="time_start" value="{{ time.0 }}" style="width: 200px;font-size: 18px"/><span style="padding-left:5px">~</span>
                <input type="date" name="time_end" value="{{ time.1 }}" style="width: 200px;font-size: 18px"/>
                <input type="submit" value="调整时间" style="font-size: 15px"/>
            </form>
            <span style="float: right;padding-right:250px;margin-bottom: 10px;color: red">共翻译{{ sum }}字:大约消耗${{ sum_money }}</span>
        </div>
        <ul style="width: 100%;padding-left:8px;">
            {% for content in files %}
                <li style="list-style-type:none; width: 99%;">
                    <table style="padding-left: 10px;width:99%;list-style-type:none;background:{{ content.5 }};">
                        <td style="width: 100px;padding-left: 10px;color: red">{{ content.6 }}</td>
                        <td style="width: 270px;"><p>{{ content.0 }}</p></td>
                        <td style="width: 200px"><p>{{ content.4 }}</p></td>
                        <td style="width: 100px"><p>{{ content.8 }}行</p></td>
                        <td style="width: 80px;">
                            <form method="post" action="translate/">
                                {% csrf_token %}
                                <input type="text" name="filename" value="{{ content.1 }}" style="visibility: hidden;width: 0px"/>
                                <input type="submit" value="翻译" style="font-size: 15px;"/>
                            </form>
                        </td>
                        <td style="width: 100px">
                            <form method="post" action="shutdown/" style="visibility:{{ content.7 }};">
                                {% csrf_token %}
                                <input type="text" name="filename" value="{{ content.1 }}" style="visibility: hidden;width: 0px"/>
                                <input type="text" name="pid" value="{{ content.8 }}" style="visibility: hidden;width: 0px"/>
                                <input type="submit" value="终止" style="font-size: 15px;"/>
                            </form>
                        </td>
                        <td style="width: 100px">
                            <progress id="{{ content.1 }}" value="{{ content.2 }}" max='100'></progress>
                        </td>
                        <td style="width: 200px;padding-left: 20px"><p>{{ content.10 }}</p></td>
                        <td style="width: 200px;padding-left: 20px"><p>已翻译{{ content.9 }}字</p></td>
                        <td style="width: 100px">
                            <form method="post" action="download/" style="visibility: {{ content.3 }}">
                                {% csrf_token %}
                                <input type="text" name="filename" value="{{ content.1 }}" style="visibility: hidden;width: 0px"/>
                                <input class="download" type="submit" value="下载翻译文件" style="font-size: 15px"/>
                            </form>
                        </td>
                    </table>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>